[submodule "x3f"]
	path = raw-file/x3f
	url = https://github.com/rolkar/x3f.git
[submodule "LibRaw-demosaic-pack-GPL3"]
	path = raw-file/LibRaw-demosaic-pack-GPL3
	url = https://github.com/LibRaw/LibRaw-demosaic-pack-GPL3.git
[submodule "LibRaw-demosaic-pack-GPL2"]
	path = raw-file/LibRaw-demosaic-pack-GPL2
	url = https://github.com/LibRaw/LibRaw-demosaic-pack-GPL2.git
[submodule "LibRaw"]
	path = raw-file/LibRaw
	url = https://github.com/LibRaw/LibRaw.git
[submodule "rawspeed"]
	path = raw-file/rawspeed
	url = https://github.com/darktable-org/rawspeed.git
[submodule "yuv-file/YUView"]
	path = yuv-file/YUView
	url = https://github.com/IENT/YUView.git
[submodule "yuv-file/pyuv"]
	path = yuv-file/pyuv
	url = https://github.com/saghul/pyuv.git
[submodule "yuv-file/yuv-viewer"]
	path = yuv-file/yuv-viewer
	url = https://github.com/figgis/yuv-viewer.git
[submodule "android/grafika"]
	path = android/grafika
	url = https://github.com/google/grafika.git
[submodule "android/FFmpegTest"]
	path = android/FFmpegTest
	url = https://github.com/OnlyInAmerica/FFmpegTest.git
[submodule "android/MediaCodecTest"]
	path = android/MediaCodecTest
	url = https://github.com/MorihiroSoft/Android_MediaCodecTest.git
